$white: #FFFFFF;
$black: #000000;
$gray: #808080;
$lightGray: #DFE3E6;
$mediumGray: #BEC5CC;
$pepelGray: #EEF0F2;
$red: #EA0029;
$gradient: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;